/*top nav bar button welcome*/

/* 11 */

 .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  

.btn-11 {
  border: none;
  background: rgb(251,33,117);
    background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%);
    color: #fff;
    overflow: hidden;
}
.btn-11:hover {
    text-decoration: none;
    color: #fff;
}
.btn-11:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:hover{
  opacity: .7;
}
.btn-11:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


@-webkit-keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}

/*top nav bar button welcome*/




/* Product Showcase start*/
#product-showcase > .products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#product-showcase > .products > .product:nth-of-type(1) {
  background-image: url("https://source.unsplash.com/QxeihtV-5Kk");
}

#product-showcase > .products > .product:nth-of-type(2) {
  background-image: url("https://source.unsplash.com/SYx3UCHZJlo");
}

#product-showcase > .products > .product:nth-of-type(3) {
  background-image: url("https://source.unsplash.com/164_6wVEHfI");
}

#product-showcase > .products > .product:nth-of-type(4) {
  background-image: url("https://source.unsplash.com/TnNo84AJJ5A");
}

#product-showcase > .products > .product:nth-of-type(5) {
  background-image: url("https://source.unsplash.com/MYbhN8KaaEc");
}

#product-showcase > .products > .product:nth-of-type(6) {
  background-image: url("https://source.unsplash.com/m1m2EZOZVwA");
}

#product-showcase .product {
  min-width: 250px;
  width: 30%;
  flex: 1 1 auto;
  height: 240px;
  border: 1px solid #333;
  margin: 0 7.5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#product-showcase .product-content {
  text-align: center;
  padding: 9px 18px;
  background: white;
  opacity: 0.7;
  color: #333;
  cursor: pointer;
  pointer-events: none;
}

#product-showcase .product-content > * {
  pointer-events: none;
}

#product-showcase .product:hover > .product-content {
  opacity: 0.9;
}

/* Product Showcase  end*/


/*product grid start*/
.product-grid4,.product-grid4 .product-image4{position:relative}
.product-grid4{font-family:Poppins,sans-serif;text-align:center;border-radius:5px;overflow:hidden;z-index:1;transition:all .3s ease 0s}
.product-grid4:hover{box-shadow:0 0 10px rgba(0,0,0,.2)}
.product-grid4 .product-image4 a{display:block}
.product-grid4 .product-image4 img{width:100%;height:auto}
.product-grid4 .pic-1{opacity:1;transition:all .5s ease-out 0s}
.product-grid4:hover .pic-1{opacity:0}
.product-grid4 .pic-2{position:absolute;top:0;left:0;opacity:0;transition:all .5s ease-out 0s}
.product-grid4:hover .pic-2{opacity:1}
.product-grid4 .social{width:180px;padding:0;margin:0 auto;list-style:none;position:absolute;right:0;left:0;top:50%;transform:translateY(-50%);transition:all .3s ease 0s}
.product-grid4 .social li{display:inline-block;opacity:0;transition:all .7s}
.product-grid4 .social li:nth-child(1){transition-delay:.15s}
.product-grid4 .social li:nth-child(2){transition-delay:.3s}
.product-grid4 .social li:nth-child(3){transition-delay:.45s}
.product-grid4:hover .social li{opacity:1}
.product-grid4 .social li a{color:#222;background:#fff;font-size:17px;line-height:36px;width:40px;height:36px;border-radius:2px;margin:0 5px;display:block;transition:all .3s ease 0s}
.product-grid4 .social li a:hover{color:#fff;background:#16a085}
.product-grid4 .social li a:after,.product-grid4 .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;line-height:20px;border-radius:3px;padding:0 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid4 .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-22px;z-index:-1}
.product-grid4 .social li a:hover:after,.product-grid4 .social li a:hover:before{opacity:1}
.product-grid4 .product-discount-label,.product-grid4 .product-new-label{color:#fff;background-color:#16a085;font-size:13px;font-weight:800;text-transform:uppercase;line-height:45px;height:45px;width:45px;border-radius:50%;position:absolute;left:10px;top:15px;transition:all .3s}
.product-grid4 .product-discount-label{left:auto;right:10px;background-color:#d7292a}
.product-grid4:hover .product-new-label{opacity:0}
.product-grid4 .product-content{padding:25px}
.product-grid4 .title{font-size:15px;font-weight:400;text-transform:capitalize;margin:0 0 7px;transition:all .3s ease 0s}
.product-grid4 .title a{color:#222}
.product-grid4 .title a:hover{color:#16a085}
.product-grid4 .price{color:#16a085;font-size:17px;font-weight:700;margin:0 2px 15px 0;display:block}
.product-grid4 .price span{color:#909090;font-size:13px;font-weight:400;letter-spacing:0;text-decoration:line-through;text-align:left;vertical-align:middle;display:inline-block}
.product-grid4 .add-to-cart{border:1px solid #e5e5e5;display:inline-block;padding:10px 20px;color:#888;font-weight:600;font-size:14px;border-radius:4px;transition:all .3s}
.product-grid4:hover .add-to-cart{border:1px solid transparent;background:#16a085;color:#fff}
.product-grid4 .add-to-cart:hover{background-color:#505050;box-shadow:0 0 10px rgba(0,0,0,.5)}
@media only screen and (max-width:990px){.product-grid4{margin-bottom:30px}
}



/*product grid end*/

/*collection header picture start*/
.all-the-foods {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}
 
div.clip-path-container {
  display: inline-block;
  position: relative;
  height: 250px;
  width: 250px;
  margin: 10px;
  padding: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  border-radius: 50%;
  border-collapse: separate;
  background-color: #222;
}

.clip-path-container:focus,
.clip-path-container:active,
.clip-path-container:hover {
  border-radius: 50%;
  outline: none;
}

.food {
  height: 250px;
  width: 250px;
  background-size: cover;
  transition: all 0.2s ease-in-out;
  transform: scale(1.5);
  outline: none;
  overflow: hidden;
  clip-path: polygon(0 100%, 0 0, 52% 0, 52% 100%);
  clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
}

.clip-path-container:hover .food {
  clip-path: polygon(50% 100%, 50% 0, 100% 0, 100% 100%);
  transform: scale(1.1);
}

.clip-path-container:hover .description-holder {
  left: 20px;
  opacity: 1;
}

.description-holder {
  position: absolute;
  top: 35px;
  left: 120px;
  height: 300px;
  width: 100px;
  transition: all 0.4s ease-in-out;
  transition-delay: 0.1s;
  opacity: 0;
  text-align: right;
}

/*.guac-holder {
  top: 45px;
}*/

.description-holder h4 {
  font-size: 14px;
  margin-bottom: -8px;
}

.description-holder p {
  max-width: 100px;
  font-size: 12px;
  line-height: 14px;
  text-transform: none;
}

.men-header-pic {
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/91AKQkCR3UL._AC_SX522_.jpg");
    background-position: 50% 70%;
  }
/*collection header picture end*/














/* footer start*/
.footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #070617;
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255, 255, 255, 0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.25em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }
  /*footer end*/



/*------about us page-------*/
/*start*/


/*end*/